.card.card-custom {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #EBEDF3;
    border-radius: 0.42rem;
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px !important;
    font-weight: 400;
    font-family: Poppins, Helvetica, "sans-serif";
    text-align: left;
}
.card.card-custom.card-stretch.gutter-b {
    height: calc(100% - 25px);
}
.card.card-custom.card-stretch {
    display: flex;
    align-items: stretch !important;
    flex-direction: column;
}
.card.card-custom {
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    border: 0;
}
.gutter-b {
    margin-bottom: 25px;
}
.card.card-custom > .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}
.card-header:first-child {
    border-radius: calc(0.42rem - 1px) calc(0.42rem - 1px) 0 0;
}
.py-5 {
    padding-bottom: 1.25rem !important;
}
.border-0 {
    border: 0 !important;
}
.card-header {
    padding: 2rem 2.25rem;
    margin-bottom: 0;
}
.card.card-custom > .card-header .card-title, .card.card-custom > .card-header .card-title .card-label {
    font-weight: 500;
    font-size: 1.275rem;
    color: #181C32;
}
.card.card-custom > .card-header .card-title {
    display: flex;
    margin: 1rem;
    margin-left: 0;
}
.align-items-start {
    align-items: flex-start !important;
}
.flex-column {
    flex-direction: column !important;
}
h3 {

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.card.card-custom > .card-header .card-title .card-label {
    margin: 0 0.75rem 0 0;
    flex-wrap: wrap;
}
.card.card-custom > .card-header .card-title, .card.card-custom > .card-header .card-title .card-label {

    font-size: 1.125rem;
}
.text-dark {
    color: #181C32 !important;
}
.font-weight-bolder {
    font-weight: 600 !important;
}
.font-size-sm {
    font-size: 0.925rem;
}

.text-muted {
    color: #B5B5C3 !important;
}
.font-weight-bold {
    font-weight: 500 !important;
}
.mt-3, .my-3 {
    margin-top: 0.75rem !important;
}
.card.card-custom > .card-header .card-toolbar {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn.btn-info {
    color: #FFFFFF;
    background-color: #6993FF;
    border-color: #6993FF;
}
.btn {
    outline: none !important;
    vertical-align: middle;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}
.font-size-sm {
    font-size: 0.925rem;
}
.font-weight-bolder {
    font-weight: 600 !important;
}
.mr-3, .mx-3 {
    margin-right: 0.75rem !important;
}
.btn {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.65rem 1rem;
    line-height: 1.5;
    border-radius: 0.42rem;
}
btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn.btn-danger {
    color: #ffffff;
    background-color: #F64E60;
    border-color: #F64E60;
}
.btn {
    outline: none !important;
    vertical-align: middle;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}
.font-size-sm {
    font-size: 0.925rem;
}
.font-weight-bolder {
    font-weight: 600 !important;
}
.btn {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.65rem 1rem;
    line-height: 1.5;
    border-radius: 0.42rem;
}
.card.card-custom > .card-header .card-toolbar {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}
.card.card-custom > .card-body {
    padding: 2rem 2.25rem;
}
.pb-3, .py-3 {
    padding-bottom: 0.75rem !important;
}
.pt-0, .py-0 {
    padding-top: 0 !important;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
}
.tab-content {
    background-color: #fff;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #3F4254;
    background-color: transparent;
}

.table {
    border-collapse: collapse;
}
.table {
    display: table;
    border-spacing: 2px;
    border-color: grey;
}
.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.table.table-head-bg thead tr:last-child, .table.table-head-bg thead th:last-child {
    border-top-right-radius: 0.42rem;
    border-bottom-right-radius: 0.42rem;
}
.table.table-head-bg thead tr:first-child, .table.table-head-bg thead th:first-child {
    border-top-left-radius: 0.42rem;
    border-bottom-left-radius: 0.42rem;
}
.table.table-head-bg thead tr, .table.table-head-bg thead th {
    background-color: #F3F6F9;
    border-bottom: 0;
    letter-spacing: 1px;
}
.table.table-head-custom thead tr, .table.table-head-custom thead th {
    font-weight: 500;
    color: #1f1f1f !important;
    font-size: 12px;
    text-transform: capitalize;
}
.text-left {
    text-align: left !important;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table:not(.table-bordered) thead th, .table:not(.table-bordered) thead td {
    border-top: 0;
}
.table.table-head-bg thead tr, .table.table-head-bg thead th {
    background-color: #F3F6F9;
    border-bottom: 0;
    letter-spacing: 1px;
}
.table.table-head-custom thead tr, .table.table-head-custom thead th {
    font-weight: 500;
    color: #1f1f1f !important;
    font-size: 12px;
    text-transform: capitalize;
}
.table.table-vertical-center th, .table.table-vertical-center td {
    vertical-align: middle;
}
table th, .table td {
    padding: 0.75rem;
}
.pl-7, .px-7 {
    padding-left: 1.75rem !important;
}
th {
    text-align: inherit;
}
th {
    display: table-cell;
}
.text-dark-75 {
    color: #1f1f1f !important;
}
.table.table-head-bg thead tr, .table.table-head-bg thead th {
    background-color: #F3F6F9;
    border-bottom: 0;
    letter-spacing: 1px;
}
table.table-head-custom thead tr, .table.table-head-custom thead th {
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table.table-vertical-center th, .table.table-vertical-center td {
    vertical-align: middle;
}
.pb-8, .py-8 {
    padding-bottom: 2rem !important;
}

.pt-8, .py-8 {
    padding-top: 2rem !important;
}

.pl-0, .px-0 {
    padding-left: 0 !important;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.42rem;
}
.mr-4, .mx-4 {
    margin-right: 1rem !important;
}
.symbol.symbol-50 .symbol-label {
    width: 50px;
    height: 50px;
}
.symbol.symbol-light .symbol-label {
    background-color: #F3F6F9;
    color: #7E8299;
}
.symbol .symbol-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 2rem;
}
a.text-hover-primary, .text-hover-primary {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.font-size-lg {
    font-size: 1.08rem;
}

.text-dark-75 {
    color: #1f1f1f !important;
}

.font-weight-bolder {
    font-weight: 500 !important;
}

.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}
a, button {
    outline: 0 !important;
}
a {
    cursor: pointer;
}
a {
    text-decoration: none;
    background-color: transparent;
}
.text-muted {
    color: #B5B5C3 !important;
}
.font-weight-bold {
    font-weight: 500 !important;
}

.d-block {
    display: block !important;
}
.h-75 {
    height: 50%;
    padding-top: 20px;
    font-size: 30px;
}
.align-self-end {
    align-self: flex-end !important;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.font-size-lg {
    font-size: 14px;
}

.text-dark-75 {
    color: #1f1f1f !important;
}

.font-weight-bolder {
    font-weight: 500 !important;
}

.d-block {
    display: block !important;
}